@import "../../assets/scss/App.scss";
.Profile {
  padding-top: 30px;
  background-color: #f7f7f7;
  .main {
    padding: 20px 0 40px;
    margin: 0 auto;
    .row {
      justify-content: space-between;
      overflow-x: hidden;
      margin: 0;
      padding: 0 18px;
      .info-column {
        width: 33%
      }
      .gigs-column {
        width: 60%;
        padding-left: 20px;
      }
      @include mobile-sm{
        .info-column{
          width: 40%;
        }
        .gigs-column{
          width: 60%;
        }
      }
    }
  }
}
