@import "../../../assets/scss/App.scss";
.SellerGigs {
  .status-filter-bar {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 25px;
    margin-bottom: 25px;
    position: relative;
    list-style: none;
    li {
      padding: 23px 0;
      margin-right: 35px;
      font-size: 14px;
      line-height: 130%;
      font-weight: 600;
      display: inline-block;
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        height: 3px;
        position: absolute;
        bottom: 0;
        background-color: #1dbf73;
        width: 100%;
        left: 0;
      }
    }
  }
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mobile-sm{
      flex-direction: column;
      align-items: center;
      .ant-card-body{
        padding: 10px;
      }
    }
    .job-card {
      margin-bottom: 20px;
      width: 48%;
      border-radius: 8px;
      border: 1px solid #ddd;
      @include mobile-sm{
        width: 90%;
        border-radius: 5px;
      }
      .content {
        .image-job-card {
          margin-right: 12px;
          width: 80%;
          img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
          }
        }
        @include mobile-sm {
          p {
            margin-bottom: 0;
          }
        }
      }
      .delete-job-card {
        position: absolute;
        right: -15px;
        top: -5px;
        border: 1px solid #ddd;
        padding: 5px 15px;
        font-size: 10px;
        border-radius: 5px;
        background-color: hsl(356deg 80% 65%);
        @include mobile-sm {
          padding: 2px 7px;
          right: -7px;
          top: -2px;
          border-radius: 2px;
        }
        &:hover {
          background-color: #ddd;
          transition: 0.2s;
        }
      }
    }
  }
}
