.HomeSlider {
  min-height: 400px;
  background-color: #023a15;
  .name {
    right: 4%;
  }
  .header-banner {
    z-index: 1;
    left: 0;
    right: 0;
  }

  .cpn-carousel {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    .search_input {
      left: 10%;
      z-index: 2;
      .SearchCarousel {
        margin-top: 50%;
        transform: translateY(-50%);
        .popular {
          Button {
            padding: 1px 12px 0;
            font-weight: 600;
            border-radius: 40px;
            transition: all 0.2s ease-in-out;
            margin-right: 5px;
          }
        }
      }
      .title-search {
        max-width: 650px;
      }
    }
  }
  .background-carousel {
    height: 680px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

@media screen and (max-width: 992px) {
  .search_input {
    right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .banner{
    display: none;
  }
  .popular{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .title-search{
    font-size: 25px;
  }
}