@import "../../../../../assets/scss/App.scss";
#mainJob {
  .main__job--container {
    // overflow: hidden !important;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
  }
  .main__job--content {
    // overflow: hidden !important;
    // display: flex;
    // justify-content: flex-start;
    div {
      text-align: center;
      .main__job--menu {
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        color: #7a7d85;
        font-size: 1.2rem;
        &:hover {
          color: #1dbf73;
        }

        @include tablet-md {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        @include mobile-xs {
          font-size: 1rem;
        }
      }
    }

    .menuSubLinks {
      position: absolute;
      li {
        list-style: none;
      }
    }
    .slick-slider {
      .slick-prev {
        width: 2rem;
        height: 2rem;
        z-index: 9999;
        left: 0;
        color: #fff;
        background-color: transparent;
        &::before {
          line-height: 2rem;
          font-size: 1.8rem;
          color: #1dbf73;
        }
      }
      .slick-next {
        width: 2rem;
        height: 2rem;
        z-index: 9999;
        right: 0;
        color: #fff;
        background-color: transparent;
        &::before {
          line-height: 2rem;
          font-size: 1.8rem;
          color: #1dbf73;
        }
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            @include tablet-md {
              padding: 0 2rem;
            }

            .jobItem {
              @include tablet-md {
                max-width: none;
              }
            }
          }
        }
      }
    }
  }
  .row {
    .jobItem {
      @include tablet-md {
        margin-top: 1rem;
      }
    }
  }
}
.tooltip {
  &.show {
    opacity: 1;
  }
  .tooltip-inner {
    background-color: #fff !important;
    -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.6);
    .list-group-item {
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 0.5rem;
      &:hover {
        background-color: rgba(223, 223, 223, 0.3);
      }
    }
  }
}
