#mainJob {
  .main__job--container {
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
  }
  .main__job--content {
    display: flex;
    justify-content: flex-start;
    div {
      text-align: center;
      .main__job--menu {
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        color: #7a7d85;
        font-size: 1.2rem;
        &:hover {
          color: #1dbf73;
        }
      }
    }

    .menuSubLinks {
      position: absolute;
      li {
        list-style: none;
      }
    }
  }
}
.tooltip {
  &.show {
    opacity: 1;
  }
  .tooltip-inner {
    background-color: #fff !important;
    -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.6);
    .list-group-item {
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 0.5rem;
      &:hover {
        background-color: rgba(223, 223, 223, 0.3);
      }
    }
  }
}
